### Default project gitignore

## IDE Projectfiles
/.idea/
/.var/

/**.cache

## Library
vendor/
/tools

## Env
/.env
/auth.json
/.pm.toml

## Other
/*.DS_Store
/.DS_Store
/*.sql
/TODO.md
/results.md

.phpactor.json
